.asap-options label {
    cursor: pointer;
}

.asap-options .tablenav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding:10px 10px;
     border-top:1px solid #e2e4e7;
}
 .asap-options .tablenav {
     padding: 20px 10px !important;
     margin-top: 20px !important;
     justify-content:flex-end !important;
}
.asap-options .tablenav a, .asap-options .tablenav span {
     border-color: #7e8993;
     color: #50575e;
     display: inline-block;
     vertical-align: baseline;
     min-width: 30px;
     min-height: 30px;
     text-decoration: none;
     text-align: center;
     font-size: 13px;
     line-height: 2.15384615;
     margin: 0;
     padding: 0 10px;
     cursor: pointer;
     border-width: 1px;
     border-style: solid;
     border-radius: 3px;
     -webkit-appearance: none;
     white-space: nowrap;
     box-sizing: border-box;
}
.asap-options .tablenav a:hover {
     border-color:#646d75 !important;
}
.asap-options .tablenav span {
     color: #a7aaad;
     border-color: #dcdcde;
     background: #f6f7f7;
     box-shadow: none;
     cursor: default;
     transform: none;
}
.asap-table-body.loading {
    opacity: 0.5;
    pointer-events: none;  
}
#results {
     padding:14px;
}
 .asap-modal-bp .notice-warning {
     padding: 4px 42px 4px 12px !important;
     margin-bottom:20px !important;
}
 .asap-modal-bp .notice-warning p {
     margin-bottom:0 !important;
     font-size:14px !important;
}
 #results .notice-warning {
     background-color: #fef8ee;
     border:none !important;
     border-left: 4px solid #f0b849 !important;
     padding: 4px 42px 4px 12px !important;
}
 .wrap #results .notice {
     margin-top:0 !important;
}
 .asap-content {
     background:#f7f5f1;
     padding:20px;
}

 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}

 .overlay {
     position: fixed;
     z-index: 99999;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.8);
     display: flex;
     align-items: center;
     justify-content: center;
}
 span.asap-badge {
     padding: 2px 6px 4px 6px;
     border-radius: 3px;
     font-size:13px;
     display: inline-flex;
     align-items: center;
     background: rgba(0, 0, 0, 0.06);
     color: #50575e;
}
span.asap-badge .dashicons {
    position:  absolute;
 }
span.asap-badge .dashicons + span {
    margin-left: 20px;
  }
 span.asap-badge.asap-green {
        padding: 2px 6px 4px 0px;
     color: #017d5c !important;
     background: #e5f5f0 !important;
}
 .tooltip {
     position: relative;
     display: inline-block;
     border-bottom: 1px dotted black;
     cursor: help;
}
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 150%;
     left: 50%;
     margin-left: -60px;
     opacity: 0;
     transition: opacity 0.3s;
}
 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: black transparent transparent transparent;
}
 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
}
 .hidden-row {
     display:none;
}
 .sort-arrow {
     display: flex;
     justify-content: center;
     margin-left: 5px;
     vertical-align: middle;
     transition:all .15s;
     text-decoration: none;
}
 .asap-modal, .asap-modal-bp {
     display: none;
    /* Para aplicar las propiedades de flex */
     position: fixed;
     z-index: 9999;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.7);
    /* Más oscuro para mayor contraste */
     justify-content: center;
     align-items: center;
     padding: 0px;
    /* Más padding */
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* Sombra para un look más moderno */
     backdrop-filter: blur(10px);
    /* Desenfoque ligero del fondo */
     display: none;
}
/* Estilo del modal cuando está abierto */
 .asap-modal-content, .asap-modal-content-bp {
     animation: modalShowAnimation 0.3s forwards;
}
/* Definición de la animación */
 @keyframes modalShowAnimation {
     0% {
         transform: scale(0.7);
    }
     45% {
         transform: scale(1.05);
    }
     80% {
         transform: scale(0.95);
    }
     100% {
         transform: scale(1);
    }
}
 .asap-modal-content, .asap-modal-content-bp {
     background-color: #fff;
     padding: 0;
     border: 1px solid #888;
     border-radius: 6px;
     width: 80%;
     max-width: 800px;
     overflow:hidden;
     overflow-y: visible;
     position:relative;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
 .asap-modal-content ul, .asap-modal-content-bp ul {
     list-style: disc !important;
     margin-left:20px !important;
     text-align:left !important;
}
 .asap-modal-content-scroll, .asap-modal-content-scroll-bp {
     overflow-y: auto;
     max-height: 380px;
     padding:26px;
     margin-bottom:26px;
}
 .asap-close, .asap-close-bp {
     color: #fff;
     font-size: 30px;
     font-weight: bold;
     cursor: pointer;
     padding: 0px;
     position: absolute;
    /* Esto es para posicionar la X con respecto a asap-modal */
     top: -46px;
    /* Desde el borde superior del asap-modal */
     right: 0;
    /* Desde el borde derecho del asap-modal */
     transition: color 0.15s ease;
     z-index: 10001;
    /* Esto es para asegurarse de que la X esté por encima del contenido del modal */
}
 div#modal-actions {
     padding:20px 26px;
     border-top:1px solid #e2e4e7;
     background:#f0f0f1;
     display:flex;
     align-items:center;
     justify-content:flex-end;
}
 .asap-close:hover, .asap-close:focus, .asap-close-bp:hover, .asap-close-bp:focus {
     color: #fff;
     opacity:.8;
     text-decoration: none;
}
 .loader {
    border: 2px solid #eee;
    border-top: 3px solid #1abc9c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 0;
}
 .asap-modal h1, .asap-modal-bp h1 {
     font-weight: bold;
     text-align: left !important;
     padding: 0;
     margin-bottom: 20px !important;
    /* Más espacio */
}
 .asap-modal h2, .asap-modal-bp h2, .asap-modal h3, .asap-modal-bp h3, .asap-modal h4, .asap-modal-bp h4{
     font-weight: bold !important;
     padding: 0 !important;
     margin-bottom: 20px !important;
     margin-top: 28px !important;
     text-align:left;
}
 .asap-modal h1, .asap-modal-bp h1{
     font-size: 28px !important;
}
 .asap-modal h2, .asap-modal-bp h2{
     font-size: 22px !important;
}
 .asap-modal h3, .asap-modal-bp h3{
     font-size: 20px !important;
}
 .asap-modal h4, .asap-modal-bp h4{
     font-size: 18px !important;
}
 .asap-modal-content h2:first-of-type, .asap-modal-content-bp h2:first-of-type, .asap-modal-content h3:first-of-type, .asap-modal-content-bp h3:first-of-type, .asap-modal-content h4:first-of-type, .asap-modal-content-bp h4:first-of-type{
     margin-top: 0 !important;
}
 .asap-modal-content-scroll > p, .asap-modal-content-scroll-bp > p {
     margin-top:0 !important;
}
 .asap-modal p, .asap-modal-bp p {
     font-size: 16px;
    /* Más grande */
     line-height: 1.6;
    /* Espacio adicional entre líneas para facilitar la lectura */
     color: #333;
    /* Color de texto más oscuro para mayor contraste */
     margin-bottom: 16px;
    /* Más espacio */
     text-align:left;
}
 .asap-modal li, .asap-modal-bp li {
     font-size: 16px;
    /* Más grande */
     line-height: 1.6;
    /* Espacio adicional entre líneas para facilitar la lectura */
     color: #333;
    /* Color de texto más oscuro para mayor contraste */
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .modal-actions-gen {
     display:inline-flex;
}
/* Estilos generales para los botones */
 #modal-actions button {
     margin-left:10px;
}
 #asap-accept-button:hover {
    background: #135e96 !important;
    border-color: #135e96 !important;    
}


.delete-row {
    cursor: pointer;
}
.delete-row:hover {
    opacity: .8;
}
.editable { 
    text-align: left;
}
.editable input {
    width: 100%;
    padding: 4px !important;
}
 #wpfooter {
     display:none;
}

 .asap-options .notice-error {
     border:none !important;
     border-left:4px solid #b53232 !important;
     border-radius:0;
     padding:4px 42px 4px 12px !important;
     background:#faecec !important;
     color:#a30000 !important;
     margin-top:14px;
}
 .asap-options .notice-warning {
     border:none !important;
     border-left:4px solid #f0b849 !important;
     border-radius:0;
     padding:4px 42px 4px 12px !important;
     background:#fef8ee !important;
     margin-top:14px;
}
 .asap-options .notice-success {
     border:none !important;
     border-left:4px solid #659b70 !important;
     border-radius:0;
     padding:4px 42px 4px 12px !important;
     background:#eef8f0 !important;
     color:#3f824d !important;
     margin-top:14px;
}
 .asap-options .notice-dismiss {
     padding:14px !important;
}
 .asap-options .notice-dismiss::hover:before {
     color:#282828 !important;
}
 .switchify input {
     display:none !important;
     margin: 0!important;
     padding: 0 !important;
     margin: 0px;
     border: none;
     outline: none;
     box-shadow: none;
}
 .asap-options .form-table th {
     width:280px !important;
}
 .wrapper-asap-options {
     background: #f0f0f1;
     margin-top: 0px;
     position: relative;
     height: 100vh;
     margin-left: -20px;
     margin-right: 0px;
}
 .asap-options h2 {
     font-size: 18px;
     line-height: normal;
     margin: 0px;
     padding-bottom: 15px;
     border-bottom: 1px solid #e2e4e7;
}
 .asap-options .form-table th {
     padding: 18px 10px 18px 0;
     font-weight: 400;
}
 .form-table td {
     padding: 13px 10px;
}
 #asap-fieldset-one td {
     padding: 6px 0 6px 14px !important;
}
 #asap-fieldset-one .asap-first-tr td {
     padding-bottom:0 !important;
}
 .wrapper-asap-options .nav-tab {
     font-size: 13px;
     line-height: 20px;
     font-weight: normal;
     border:none !important;
     background: transparent !important;
     display: block;
     width: 100%;
     display: block;
     transition: 0.1s ease;
     outline: none !important;
     text-decoration: none !important;
     padding: 14px 18px;
     font-size: 14px;
     color: #757575;
     margin-left: 0;
     padding-left:14px !important;
     border-left:4px solid transparent !important;
}
 .wrapper-asap-options .nav-tab:hover, .wrapper-asap-options .nav-tab:hover svg {
     color: #1abc9c;
     stroke: #1abc9c;
}
 .wrapper-asap-options .nav-tab-active, .wrapper-asap-options .nav-tab-active:hover {
    /*background: #fff;
    */
     font-weight: bold !important;
     border-bottom: 0px;
    /* background: white !important;
     border-top: 2px solid #0073AA;
    */
     color: #1abc9c;
     border-left:4px solid #1abc9c!important;
     background:#fff !important;
}
 .wrapper-asap-options .nav-tab-wrapper img {
     max-width: 160px;
     padding: 1rem .5rem;
     margin-bottom: 0.5rem;
     margin-top: 0.25rem;
     height: auto;
}
 .wrapper-asap-options .nav-tab-active svg {
     stroke:#1abc9c!important;
}
.asap-options .submit .button-primary:not(.not-button .button-primary) {
     font-size: 15px;
     line-height: 40px;
     height: 42px;
     padding: 0 34px;
     background: #1abc9c !important;
     border: 1px solid #17a98c;
}
.asap-options .submit .button-primary:not(.not-button .button-primary):hover {
     background: #17a98c !important;
    }
 .asap-options .submit .button-secondary {
     font-size: 15px;
     line-height: 40px;
     height: 42px;
     padding: 0 34px;
     background:#fdeef0 !important;
     color:#1abc9c!important;
     border: 1px solid #fdeef0 !important;
}
}

 .asap-options .submit .button-primary:hover {
     background: #f2667a !important;
     border:1px solid #f2667a;
}
 .asap-options .submit .button-secondary:hover {
     background:#fcdde1 !important;
}
 .asap-options {
     background: #fff;
     border-top: 0 !important;
     padding: 20px 20px 20px 20px;
     border-radius: 0 5px 5px 5px;
     -moz-border-radius: 0 5px 5px 5px;
     -webkit-border-radius: 0 5px 5px 5px;
     font-size: 15px;
     box-sizing: border-box;
     float: right;
     padding: 30px 50px;
     position: absolute;
     left: 270px;
     min-height: 100%;
     width: calc(100% - 270px);
     background: white;
    /* font-family:'Work Sans', Serif;
    */
}
 .asap-admin-header img {
     max-width: 200px;
}
 .asap-options p.submit {
     margin-bottom: 0 !important;
     margin-top: 10px !important;
     padding-bottom: 10px !important;
}
 .wrapper-asap-options .nav-tab-wrapper {
     float: left;
     width: 270px;
     padding-top: 10px;
    /* font-family:'Work Sans', Serif;
    */
}
 .wrapper-asap-options .nav-tab-wrapper a:not(.active) svg.fill#fill_as [fill], .nav-tab-wrapper a:not(.active) svg.fill {
     fill: #757575;
     color: #757575;
}
 .wrapper-asap-options .nav-tab-wrapper a svg {
     vertical-align: middle;
     margin-right: 10px;
     width: 20px;
     height: 20px;
     position: absolute;
}
 .wrapper-asap-options .nav-tab-wrapper a span {
     margin-left: 30px;
}
 .wrapper-asap-options .nav-tab-wrapper a span > span {
     display: inline-block;
     vertical-align: top;
     box-sizing: border-box;
     margin: 1px 0 0 4px;
     padding: 0 5px;
     min-width: 18px;
     height: 18px;
     border-radius: 9px;
     background-color: #1abc9c;
     color: #fff;
     font-size: 11px;
     line-height: 1.715;
     text-align: center;
     z-index: 26;
}
 .wrapper-asap-options .nav-tab-wrapper .asap-support {
     float: right;
     margin-right: 0.5em;
     padding: 5px 10px;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.71428571;
     white-space: nowrap;
     text-decoration: none;
}
 .wrapper-asap-options .nav-tab-wrapper .asap-support i {
     width: auto;
     height: auto;
     font-size: 15px;
     margin: 4px 4px 0px 0px;
}
 .wrapper-asap-options .nav-tab-wrapper {
     border-bottom: none !important;
}
 span.asap-items {
     display: block;
     margin-bottom: 12px;
     margin-right: 10px;
}
 span.asap-items:first-child {
     margin-top:10px;
}
 span.asap-items .switchify-label {
     margin-right:8px;
}
 span.asap-items input {
     margin-right: 4px;
}
 .amsify-suggestags-input-area {
     background: #fff !important;
}
 .amsify-suggestags-area .amsify-suggestags-input-area-default {
     cursor: pointer;
     border: 1px solid #cccccc;
     min-height: 20px;
     padding: 8px 5px;
}
 .amsify-suggestags-area .amsify-suggestags-input-area {
     text-align: left;
     height: auto;
}
 .amsify-suggestags-area .amsify-suggestags-input-area:hover {
     cursor: text;
}
 .amsify-suggestags-area .amsify-suggestags-input-area .amsify-suggestags-input {
     max-width: 220px;
     padding: 0px 4px;
     border: 0 !important;
}
 .amsify-suggestags-area .amsify-suggestags-input-area .amsify-suggestags-input:focus {
     outline: 0;
}
 .amsify-focus {
     box-shadow: 0 0 0 1px #1abc9c!important;
     border: 1px solid #1abc9c!important;
     outline: none !important;
     outline: 0;
}
 .amsify-focus-light {
     border-color: #cacaca;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(189, 189, 189, 0.6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(189, 189, 189, 0.6);
}
 .amsify-suggestags-area .amsify-suggestags-label {
     cursor: pointer;
     min-height: 20px;
}
 .amsify-toggle-suggestags {
     float: right;
     cursor: pointer;
}
 .amsify-suggestags-area {
     max-width: 284px !important;
}
 .amsify-suggestags-area .amsify-suggestags-list {
     display: none;
     position: absolute;
     background: white;
     border: 1px solid #dedede;
     z-index: 1;
     max-width: 300px !important;
     min-width: 284px !important;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list {
     list-style: none;
     padding: 3px 0px;
     max-height: 150px;
     overflow-y: auto;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-list-item {
     text-align: left;
     cursor: pointer;
     padding: 6px 10px;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-list-item:active {
     background: #999;
     color: white;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-list-group {
     text-align: left;
     padding: 0px 10px;
     font-weight: bold;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-item-pad {
     padding-left: 30px;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-item-noresult {
     display: none;
     color: #ff6060;
     font-weight: bold;
     text-align: center;
}
 .amsify-suggestags-area .amsify-suggestags-list .amsify-select-input {
     display: none;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.active {
     background: #d9d8d8;
}
 .amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-item-pad.active {
     font-weight: normal;
}
 .amsify-suggestags-input-area .amsify-select-tag, .amsify-suggestags-input-area .amsify-plus-tag {
     padding: 2px 7px;
     margin: 0px 4px 1px 0px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     display: inline-block;
}
 .amsify-suggestags-input-area .amsify-select-tag.col-bg {
     background: #eee;
     color: black;
}
 .amsify-suggestags-input-area .amsify-plus-tag.show-plus-bg {
     background: #767676;
     color: white;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     border-radius: 15px;
}
/*.amsify-suggestags-input-area .amsify-select-tag:hover {
     background: #737373;
     color: white;
}
*/
 .amsify-suggestags-input-area .disabled.amsify-select-tag {
     background: #eaeaea;
     color: #b9b9b9;
     pointer-events: none;
}
 .amsify-suggestags-input-area .flash.amsify-select-tag {
     background-color: #f57f7f;
     -webkit-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}
 .amsify-suggestags-input-area .amsify-remove-tag {
     cursor: pointer;
}
 .amsify-no-suggestion {
     display: none;
     opacity: 0.7;
}
 .amsify-remove-tag:after {
     position: relative;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     content: "X";
    /* use the hex value here... */
     font-size: 10px;
     color: #222;
     text-align: center;
     font-weight: bold;
}
 .amsify-remove-tag:hover:after {
     opacity: .6;
}
 .wrapper-asap-options input[type='number'] {
     width: 50px;
}
 .wrapper-asap-options input:focus {
     box-shadow: 0 0 0 1px #1abc9c!important;
     border: 1px solid #1abc9c!important;
     outline: none !important;
}
 .wrapper-asap-options input:not([type='number'], [type='submit'], [type='button'], [type='checkbox'], [type='color'], [type='radio']) {
     width: 300px;
     padding: 8px !important;
     border-radius: 4px !important;
     border: 1px solid #8c8f94 !important;
}
 .amsify-suggestags-area .amsify-suggestags-input-area .amsify-suggestags-input {
     padding: 0 !important;
}
 .amsify-suggestags-input-area {
     width: 284px;
     padding: 2px 8px !important;
     border-radius: 4px !important;
     border: 1px solid #8c8f94 !important;
}
 input::placeholder {
     color: #aaa;
}
 input.amsify-suggestags-input:focus {
     box-shadow: none !important;
}
 input.amsify-suggestags-input {
     border: none !important;
}
 .wrapper-asap-options select {
     width: 250px;
     padding: 4px 6px !important;
     border-radius: 4px !important;
     border: 1px solid #8c8f94 !important;
}
 .asap-tooltip {
     display: inline-block;
     flex-shrink: 0;
     float: right;
     margin-right: -10px;
     margin-top: 2px;
     height: 15px;
     width: 15px;
     vertical-align: top;
     text-align: center;
     line-height: 15px;
     font-size: 12px;
     background: #F0F0F1;
     color: #777;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     text-decoration: none;
     cursor: help;
     position: relative;
}
 .asap-tooltip .tooltiptext {
     visibility: hidden;
     width: 250px;
     background-color: #202225;
     color: #fff;
     text-align: left;
     cursor: default;
     padding: 10px 12px;
     border-radius: 4px;
     position: absolute;
     line-height: 1.3;
     z-index: 1;
     font-weight: 300;
     font-size: 13px;
     top: 100%;
     left: 50%;
     margin-top: 14px;
     margin-left: -30px;
}
 .asap-tooltip .tooltiptext::after {
     content: " ";
     position: absolute;
     bottom: 100%;
    /* At the top of the tooltip */
     left: 25px;
     border-width: 5px;
     border-style: solid;
     border-color: transparent transparent #282828 transparent;
}
 .asap-tooltip .tooltiptext {
     opacity: 0;
     transition: opacity .15s;
}
 .asap-tooltip:hover .tooltiptext {
     opacity: 1;
     visibility: visible;
}
 h2.asap-heading {
     font-size: 20px;
     line-height: normal;
     margin: 25px 0px 0px 0px !important;
}
 .asap-subheading {
     font-size: 12px;
     line-height: normal;
     font-style: italic;
     margin: 5px 0px 10px 0px;
     padding-bottom: 10px;
     border-bottom: 1px solid #dddddd;
}
 label.switchify.switchify-label {
     display: inline-block;
}
 label.switchify.switchify-label > input.switchified {
     display: none;
}
 label.switchify.switchify-label > span.switchify-switch {
     display: block;
     background-color: #cecece;
     width: 48px;
     height: 28px;
     position: relative;
     border: 1px solid #cecece;
     border-radius: 1rem;
     transition: background-color 0.25s, border-color 0.25s;
}
 label.switchify.switchify-label > span.switchify-switch::after {
     content: "";
     background-color: #fff;
     display: block;
     position: absolute;
     border-radius: 1rem;
     left: 0;
     transition: left 0.25s;
     height: 20px;
     width: 20px;
     left: 4px;
     bottom: 4px;
}
 .asap-options label.switchify.switchify-label > input.switchified:checked + span.switchify-switch {
     background-color: #1abc9c;
     border-color: #1abc9c;
}
 .asap-options label.switchify.switchify-label > input.switchified:checked + span.switchify-switch::after {
     left: calc(100% - 24px);
}

.asap-table .sorting-indicator + .sorting-indicator {
    margin-top: 2px !important;
}

.asap-options textarea {
    width: 300px;
    padding: 8px !important;
    border-radius: 4px !important;
    border: 1px solid #8c8f94 !important;
}

.asap-options textarea::placeholder {
    color: #aaa;
}

.wrapper-asap-options input:disabled {
    color: #a7aaad !important;
    border-color: #8c8f94 !important;
    background-color: #f6f7f7 !important;

}